{% extends base_template %}

{% block content %}
    <div class="sonata-ba-delete">
        <div class="box box-danger">
            <form method="POST" action="{{ admin.generateObjectUrl('message', mail) }}">
                <input type="hidden" name="_sonata_csrf_token" value="{{ token }}">
                <div class="box-header">
                    <h3 class="box-title">Confirm send e-mail</h3>
                </div>
                <div class="box-body">
                    <p>Are you sure you want to send "{{ admin.toString(mail) }}" to:</p>
                    {% for user in mail.users %}
                        <label class="checkbox">
                            <input type="checkbox" name="userIds[]" value="{{ user.id }}"{% if app.user is same as(user) %} checked="checked"{% endif %}>
                            {% if user.name is not null %}
                                {{ user.name }} ({{ user.email }})
                            {% else %}
                                {{ user.email }}
                            {% endif %}
                        </label>
                    {% endfor %}
                </div>
                <div class="box-footer clearfix">
                    <button type="submit" name="btn_delete" class="btn btn-danger"><i class="fas fa-envelope" aria-hidden="true"></i> {{ 'Send e-mail'|trans({}, admin.translationdomain) }}</button>
                    <a class="btn btn-success" href="{{ admin.generateUrl('list') }}"><i class="fas fa-list" aria-hidden="true"></i> {{ 'Return to list'|trans({}, admin.translationdomain) }}</a>
                </div>

            </form>
        </div>
    </div>
{% endblock %}
